@font-face {
  font-family: "Mazzard";
  src: url("./assets/fonts/MazzardH-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Artega";
  src: url("./assets/fonts/ArtegraSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Mazzard";
  src: url("./assets/fonts/MazzardM-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Mazzard";
  src: url("./assets/fonts/MazzardM-Medium.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Mazzard";
  src: url("./assets/fonts/MazzardH-Medium.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

html.active{
  overflow-y: hidden;
}

body{
  background-color: #0B0B0F;
}

.backgr{
  display: none;
}

.backgr.active{
  z-index: 1;
  display: block;
  width: 100vw;
  position: fixed;
  height: 100vh;
  background-color: #000000aa;
  top: 0;
}

*{
  margin: 0;
  padding: 0;
}

a, span, p, button, h1, h2, h3, h4, h5, h6{
  font-family: Mazzard;
}
ul{
  list-style-type: none;
}

a{
  color: black;
  text-decoration: none;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  background-color: black;
  padding: 0 16px;
}

.logo{
  border-bottom: 1px solid #D2B5F8;
  height: 45px;
  margin-top: 5px;
}

h2{
  font-size: 15px;
  color: white;
  letter-spacing: 0.2px;
}

.nav{
  width: 290px;
}

.nav__ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__ul__li__a{
  color: #7C7783;
  text-transform: capitalize;
  transition: 0.15s;
}

.nav__ul__li__a:hover{
  color: #D2B5F8;
}

.start-screen{
  position: relative;
  overflow: hidden;
  min-height: calc(930px - 243px);
  max-width: 100%;
  width: 100%;
}

.background__img.t1{
  position: absolute;
  top: -350px; left: -336px;
  transform: rotate(200deg);
  z-index: 0;
  border-radius: 50%;
  background-image: url('./assets/icons/blur.svg');
}

.background__img.t2{
  position: absolute;
  top: 125px; right: -440px;
  transform: rotate(3deg);
  z-index: 0;
  border-radius: 50%;
  background-image: url('./assets/icons/blur.svg');
  background-position:0 100px;
}

.start-screen__chairs{
  position: absolute;
  bottom: 0;
  left: 0;
}

.start-screen__h{
  display: block;
  font-size: 40px;
  color: white;
  font-family: Inter;
  font-weight: 900;
  line-height: 52px;
  margin-left: 17px;
}

.presentation-block{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 312px;
  margin-top: 207px;
}

.start-screen__h__temp{
  display: block;
  font-family: Inter;
  margin-left: 78px;
  font-weight: 900;
}

.start-screen__img{
  float: left;
  top: -20px;
  right: 0px;
  position: absolute;
}

.start-screen__button{
  width: 142px;
  height: 40px;
  background: linear-gradient(99.49deg, #1E1637 -28.36%, #773AC5 163.72%);
  border-radius: 10px;
  border: 0;
  margin: 65px auto;
  color: white;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: 0.5s;
}

.start-screen__button:hover{
  background: linear-gradient(99.49deg, #2b1f4e -28.36%, #6632aa 163.72%);
}

.tickets{
  padding: 13px 25px 72px;

}

.ticket__h3{
  font-size: 12px;
  font-weight: 900;
  margin: auto;
  line-height: 15px;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  color: #7C7783;
  letter-spacing: 0.2px;
}

.ticket__name{
  color: white;
  font-size: 26px;
  line-height: 31px;
  width: fit-content;
  letter-spacing: 0.2px;
  font-weight: 800;
  margin: auto;
}

.ticket__date{
  color: #D2B5F8;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.8px;
  max-width: fit-content;
  margin: 0 0 0 15px;
}

.section-container{
  max-width: 312px;
  margin: auto;
}

.ticket__text{
  max-width: 312px;
  text-align: left;
  font-size: 12.8px;
  color: #B7B6B8;
  line-height: 18px;
  margin-top: 22px;
  font-weight: 400;
  letter-spacing: 0.1px;
  margin-top: 22px;
}

.ticket__schedule__line{
  background: linear-gradient(90deg, #987AF3 0%, #D2B5F8 100%);
  border-radius: 30px;
  width: 100%;
  height: 16px;
}

.ticket__schedule{
  position: relative;
  max-width: 312px;
  margin: 90px auto 0;
  margin-top: 110px;
}

.ticket__event{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 53px;
  top: -70px;
  position: absolute;
}

.ticket__event:nth-child(2){
  top: -70px;
  left: 0;
}
.ticket__event:nth-child(3){
  flex-direction: column;
  top: 16px;
  left: 50px;
}
.ticket__event:nth-child(2n+1) .event__date{
  order:1;
}
.ticket__event:nth-child(4){
  top: -70px;
  left: 115px;
}
.ticket__event:nth-child(5){
  flex-direction: column;
  top: 16px;
  left: 165px;
}
.ticket__event:nth-child(6){
  top: -70px;
  left: 215px;
}
.ticket__event:nth-child(7){
  flex-direction: column;
  top: 16px;
  left: 260px;
}

.event__name{
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  order: 1;
  text-align: center;
  min-width: 10px;
  height: 15px;
}

.ticket__event__line{
  height: 40px;
  width: 1px;
  background-color: #7C7783;
}

.event__date{
  height: 15px;
  color: #7C7783;
  min-width: 10px;
  font-size: 12px;
}

.tickets{
  position: relative;
  overflow: hidden;
}

.bkgr-draw{
  position: absolute;
  background-position: 70% 70%;
  left: -600px;
  transform: scale(1,-1) rotate(-70deg);
  top: -70px;
}

.ticket__button{
  color: #D2B5F8;
  border: 2px solid #D2B5F8;
  width: 200px;
  height: 35px;
  text-transform: capitalize;
  background-color: #00000000;
  border-radius: 30px;
  font-weight: 800;
  margin: 95px auto 0;
  display: block;
  letter-spacing: 0.08em;
  cursor: pointer;
  transition: 0.2s;
}

.ticket__button:hover{
  background-color: #D2B5F8;
  color: black;
}

.reasons__question{
  color: #7C7783;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.reasons__text{
  font-size: 20px;
  color: white;
  font-weight: 800;
  max-width: 275px;
  line-height: 24px;
}

.text-contrast{
  color:#D2B5F8;
}

.reasons__img{
  margin-top: 40px;
}

.reasons__text2{
  font-size: 13px;
  color: rgba(256,256,256, 0.7);
  line-height: 17px;
  margin-top: 37px;
  width: 312px;
  font-weight: 400;
}

.events__h{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  color: white;
}

.events{
  margin: 63px 0 0 0 ;
}

.events__items{
  margin-top: 23px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.events__item{
  width: 142px;
  height: 63px;
  padding: 24px 0;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  background-color: #D9D9D91A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.events__item__p{
  text-align: center;
  line-height: 12px;
  letter-spacing: 0.02px;
  color: white;
  font-size: 11px;
  font-weight: 400;
  max-width: 106px;
  margin-top: 5px;
}

.events__h{
  margin-top: 25px;
  font-size: 15px;
  color: white;
}

.slider__h{
  color: white;
  font-size: 15px;
  margin-top: 75px;
  margin-left: 26px;
}

.section-container.slider__container{
  padding: 0;
  max-width: fit-content;
  width: fit-content;
}

.slider__imgs{
  display: flex;
  position: relative;
  overflow-x: hidden;
  max-width: 360px;
  margin: auto;

}

#slider{
  position: relative;
  overflow: hidden;
}

.decor{
  position: absolute;
  background-image: url('./assets/icons/blur.svg');
  top: -620px;
  z-index: -1;
  left: -900px;
  background-position:  center;
  background-repeat: no-repeat;
}

.slider{
  margin-top: 16px;
  padding-bottom: 50px;
}

.slider__content{
  display: flex;
  position: relative;
}

.slider__left,
.slider__right{
  width: 30px;
  height: 30px;
  background-color: #2B2B2B77;
  border: 0;
  border-radius: 50%;
  position: absolute;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__left:hover,
.slider__right:hover{
  cursor: pointer;
  background-color: #00000088;
}


.slider__right{
  top: calc(50% - 15px); right: 24px; bottom: 0;
}

.slider__left{
  z-index: 1;
  top: calc(50% - 15px); left: 24px; bottom: 0;
}

.slider__left img{
  transform: scale(-1,1);
}

.slider__img{
  transition: 0.5s;
  width: 360px;
}

.slider__controller{
  display: flex;
  margin: 16px auto 0;
  justify-content: space-between;
  max-width: 44px;
}

.slider__controller__point{
  border-radius: 50%;
  width: 5px;
  height: 5px;
  border: 0;
}

.slider__controller__point.active{
  background-color: #9F5DF4;
}

.partners__name{
  margin-left: 26px;
}

#partners{
  margin-top: 55px;
}

.partner__items{
  margin: auto;
  display: flex;
  height: 92px;
  margin-top: 16px;
  width: 312px;
  justify-content: space-between;
}

.partner__item.t2{
  align-self: flex-end;
}

.partner__item.t4{
  align-self: flex-end;
}

.partner__item{
  width: 46px;
  height: 46px;
  background-color: #FFFFFF0D;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  margin-top: 20px;
}

.footer .section-container{
  min-width: 328px;
  margin: 0 auto;
  padding: 10px;
}

.central-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer{
  display: flex;
  height: fit-content;
  border-bottom: 0;
}

.logo__footer__h{
  color: #7C7783;
  display: block;
  margin-left: 20px;
  font-size: 32px;
  font-weight: 800;
  width: 160px;
  font-family: Inter;
  text-transform: uppercase;
  height: fit-content;
}

.footer__name,
.footer__tel,
.footer__mail{
  color: #7C7783;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 18px;
}

.blogs{
  display: flex;
  justify-content: space-between;
  width: 56px;
  margin-top: 10px;
}

.footer__payment__items{
  width: 312px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.footer__text__items{
  margin-top: 32px;
}

.footer__text__item{
  color: #7C7783;
  font-size: 12px;
  line-height: 17px;
}

.rules__item{
  max-width: 160px;
}

.footer__rules{
  margin-top: 10px;
}

.year{
  color: #7C7783;
  font-size: 12px;
  margin-top: 10px;
  font-family: Inter;
}

.rules__item__a{
  color: #D2B5F89C;
  text-decoration: underline;
  font-size: 12px;
  line-height: 18px;
}

.form__h{
  font-size: 16px;
  text-transform: uppercase;
}

label{
  color: #7C7783;
  display: block;
  font-size: 12px;
  margin-top: 24px;
  font-family: Artega;
}

label:first-child{
  margin-top: 0;
}

input{
  margin-top: 8px;
  width: calc(100% - 20px);
  height: 24px;
  background-color: #FFFFFF1A;
  border:0;
  border-radius: 3px;
  padding: 4px 10px;
  color: white;
}

.contact__form{
  background-color: #17171B;
  padding: 16px 24px;
  border-radius: 10px;
  margin-top: 22px;
}

#form{
  margin-top: 75px;
  padding-bottom: 66px;
}

.form__text{
  max-width: 235px;
  color: #7C7783;
  font-size: 12px;
  line-height: 17px;
  margin-top: 6px;
}

#message,
input{
  outline: none;
  border: 0;
}

#message{
  margin-top: 8px;
  width: calc(100% - 20px);
  background-color: #FFFFFF1A;
  border:0;
  border-radius: 3px;
  padding: 4px 10px;
  resize: none;
  color: white;
}

.form__block{
  display: flex;
  max-width: 203px;
}

#personal__data,
#confidential__agreement{
  width: 0;
  height: 0;
}

#personal__data ~ label::before,
#confidential__agreement ~ label::before{
  content: '';
  text-align: center;
  color: #D2B5F8;
  line-height: 1em;
  padding: 2px;
  min-width: 8px;
  max-width: 8px;
  min-height: 8px;
  max-height: 8px;
  float: left;
  margin-top: 7px;
  margin-right: 10px;
  border: 1px solid #D2B5F8;
  border-radius: 3px;
  display: inline-block;
}

.slider__controller__point{
  cursor: pointer;
}


.form__submit-button{
  width: 165px;
  height: 38px;
  background-color: #D2B5F8;
  color: black;
  border: 0;
  border-radius: 80px;
  font-size: 18px;
  display: block;
  margin: 14px auto;
  font-family: Mazzard;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: 0.2s;
}

.form__submit-button:hover{
  cursor: pointer;
  background-color: #00000000;
  border: 2px solid #D2B5F8;
  color: #D2B5F8;
}

#personal__data:checked ~ label::before,
#confidential__agreement:checked ~ label::before {
  content: '\2713';
  color: #D2B5F8;
}

.ticket{
  display: flex;
  background-color: white;
  width: 288px;
  padding: 24px 24px 18px;
  z-index: 1;
  height: 422px;
  margin: 0 auto;
  right: 0; left: 0;
  border-radius: 20px;
  position: fixed;
  top: calc(50% - 300px);
}

.cross{
  position: absolute;
  width: 32px;
  height: 32px;
  right:24px;
}

.cross::before{
  content: '';
  position: absolute;
  height: 3px;
  width: 28px;
  top: 14px;
  transform: rotate(45deg);
  background-color: black;
}

.cross::after{
  content: '';
  position: absolute;
  height: 3px;
  top: 14px;
  width: 28px;
  transform: rotate(-45deg);
  background-color: black;
}

.ticket__block{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-height: 422px;
}

.ticket__place{
  margin: auto;
  width: fit-content;
  font-weight: 900;
  font-size: 16px;
}

.ticket{
  display: none;
}

.td{
  color: red;
}

.ticket.active{
  display: block;
}

.ticket__date__t,
.ticket__time{
  margin: auto;
  width: fit-content;
  font-weight: 200;
  font-size: 12px;
  color:#00000099;
}

.ticket__theme__t{
  color: black;
  width: fit-content;
  font-weight: 800;
  margin: auto;
  font-size: 20px;
}

.ticket__price{
  font-size: 48px;
  line-height: 57px;
  color: #773AC5;
  font-weight: 800;
  width: fit-content;
  margin: 5px auto;
}

.ticket__h{
  margin-top: 20px;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.speaker__info{
  display: flex;
  margin-top: 8px;
}

.speaker__name{
  color: #773AC5;
  text-decoration: underline;
}

.speaker__theme{
  margin-left: 7px;
}

.ticket__adress{
  margin-top: 8px;
}

.ticket__button__t{
  background: linear-gradient(99.49deg, #9F5DF4 -28.36%, #773AC5 163.72%);
  width: 142px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  margin: 70px auto 0;
  color: white;
  font-size: 14px;
  display: block;
  border-radius: 10px;
}

@media screen and (max-width: 640px) {
  .start-screen__chairs{
    width: 100%;
    height: 243px;
    background-image: url('./assets/img/main-chairs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .start-screen{
    min-height: 930px;
  }

  .bkgr-blur{
    background-image: url('./assets/icons/blur.svg');
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: 0;
    top: -300px;right: -300px;
    color: red
  }

  .bkgr-draw{
    position: absolute;
    background-image: url('./assets/icons/blur.svg');
    background-position: 70% 70%;
    left: -680px;
    top: -70px;
  }


}

@media screen and (min-width: 420px) {
  .decor{
    display: none;
  }
}