@font-face {
  font-family: "Mazzard";
  src: url("./assets/fonts/MazzardH-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Artega";
  src: url("./assets/fonts/ArtegraSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Mazzard";
  src: url("./assets/fonts/MazzardM-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Mazzard";
  src: url("./assets/fonts/MazzardM-Medium.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Mazzard";
  src: url("./assets/fonts/MazzardH-Medium.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

html{
  scroll-behavior: smooth;
}

html.active{
  overflow-y: hidden;
}

body{
  background-color: #0B0B0F;
}

*{
  font-family: Mazzard;
}

.backgr{
  display: none;
}

.backgr.active{
  z-index: 1;
  display: block;
  width: 100vw;
  position: fixed;
  height: 100vh;
  background-color: #000000aa;
  top: 0;
}

*{
  margin: 0;
  padding: 0;
}

a, span, p, button, h1, h2, h3, h4, h5, h6{
  font-family: Mazzard;
}
ul{
  list-style-type: none;
}

a{
  color: black;
  text-decoration: none;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  background-color: black;
  padding: 0 16px;
}

.logo{
  border-bottom: 1px solid #D2B5F8;
  height: 45px;
  margin-top: 5px;
}

h2{
  font-size: 15px;
  color: white;
  letter-spacing: 0.2px;
}

.nav{
  width: 290px;
}

.nav__ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__ul__li__a{
  color: #7C7783;
  text-transform: capitalize;
  transition: 0.15s;
}

.nav__ul__li__a:hover{
  color: #D2B5F8;
}

#start-screen{
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.background__img.t1{
  position: absolute;
  top: -350px; left: -336px;
  transform: rotate(200deg);
  z-index: 0;
  border-radius: 50%;
  background-image: url('./assets/icons/blur.svg');
}

.background__img.t2{
  position: absolute;
  top: 125px; right: -440px;
  transform: rotate(3deg);
  z-index: 0;
  border-radius: 50%;
  background-image: url('./assets/icons/blur.svg');
  background-position:0 100px;
}

.start-screen__chairs{
  position: absolute;
  bottom: 0;
  left: 0;
}

.start-screen__data__img{
  min-width: 30px;
  max-width: 100%;
  width: 30px;
  height: fit-content;
}

.start-screen__p{
  font-size: 32px;
  color: white;
  font-family: Inter;
  font-weight: 900;
  margin-top: 20px;
  color: #D2B5F8;
  text-align: center;
}

.start-screen__data{
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 100;
  color: #D2B5F8;
}

.start-screen__data__img.t{
  display: block;
  border-radius: 50%;
}

.data-temp{
  margin-left: 10px;
}

.time{
  font-size: 10px;
}

.start-screen__img{
  margin-top: 30px;
  width: 200px;
  margin:30px auto 0;
  display: block;
}

.data{
  display: flex;
  width: 200px;
  color: white;
  font-size: 10px;
  border: 1px solid #55555588;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
}

.presentation-block{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin: 100px auto 0;
  max-width: 312px;
}

.start-screen__p__temp{
  display: block;
  font-family: Inter;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: 0.02em;
  font-size: 16px;
  text-align: center;
  color: white;
}

.start-screen__button{
  height: 40px;
  background-color: #773AC566;
  border-radius: 30px;
  border: 2px solid #8847db;
  margin: 80px auto 0;
  color: white;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.8px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 25px;
}

.start-screen__button:hover{
  background: linear-gradient(99.49deg, #2b1f4e -28.36%, #6632aa 163.72%);
}

.tickets{
  padding: 13px 25px 72px;

}

.h2__event{
  font-size: 24px;
  text-shadow: 0 0 5px #7c00b6, 0 0 10px #7c00b6 , 0 0 15px #ddd, 0 0 20px #7c00b6, -6px 2px 20px rgba(177,0,206,0);
  text-align: center;
}

.speakers{
  margin: 10px auto;
  width: fit-content;
  font-size: 18px;
  text-shadow: 0 0 5px #B100CE, 0 0 10px #B100CE , 0 0 15px #ddd, 0 0 20px #B100CE, -6px 2px 20px rgba(177,0,206,0);
  text-align: center;
}

.speaker__item__img{
  width: 240px;
  filter: brightness(90%)
}

.speakers__items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.speaker__item{
  width: 240px;
  position: relative;
  height: 270px;
  margin-top: 70px;
  border-radius: 20px;
  border: 3px solid white;
  overflow: hidden;
}

.speaker__item__name{
  text-align: center;
  width: 100%;
  color: white;
  font-size: 14px;
  border-radius: 10px;
}

.speaker__item__theme{
  text-align: center;
  color: #ce51ff;
  font-size: 14px;
  width: 100%;
}

.block{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  background-color: #0F0D14aa;
  backdrop-filter: blur(2px);
  padding: 10px 0;
}

.more-info{
  width: 30px;
  height: 30px;
  left: 0; right: 0;bottom: 0;margin: auto;
  text-align: center;
  color: white;
  display: block;
  margin: 5px auto 0;
  border-bottom: unset;
  font-size: 24px;
  border-radius: 100%;
  border: 1px solid white;
  background-color: #00000000;
}

.inst{
  padding: 5px;
  display: block;
  margin-left: 10px;
}

.info__block__item{
  position: absolute;
  bottom: -270px;
  transition: 0.8s;
  background-color: #0F0D14aa;
  height: 260px;
  backdrop-filter: blur(2px);
  color: white;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speaker__item:first-child{
  margin-top: 20px;
}

@media screen and (min-width: 640px) {

  #tickets{
    padding-top: 80px;
  }
}


.info__block__item.active{
  bottom: 0;
}

.inst{
  position: absolute;
  font-size: 12px;
  top: 0; left: 0;
  color: white;
}

.tickets{
  position: relative;
  overflow: hidden;
}

.event__item{
  width: 280px;
  padding: 10px 20px 40px;
  background-color: #5e237a;
  border: 2px solid white;
  border-radius: 30px;
  margin: 14px 0;
  position: relative;
}

.event__item__img{
  width: 70px;
  position: absolute;
  top: -36px;right: 0;left: 0;margin: auto;
}

.event__items{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.events .start-screen__button{
  margin-top: 20px;
}

.event__item h3{
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 2px;
  font-weight: 400;
}

.event__item p{
  font-size: 12px;
  color: white;
  margin-top: 7px;
  text-align: center;
}

.bkgr-draw{
  position: absolute;
  background-position: 70% 70%;
  left: -600px;
  transform: scale(1,-1) rotate(-70deg);
  top: -70px;
}


.reasons__question{
  color: #7C7783;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.reasons__text{
  font-size: 20px;
  color: white;
  font-weight: 800;
  max-width: 275px;
  line-height: 24px;
}

.text-contrast{
  color:#D2B5F8;
}

.reasons__img{
  margin-top: 40px;
}

.reasons__text2{
  font-size: 13px;
  color: rgba(256,256,256, 0.7);
  line-height: 17px;
  margin-top: 37px;
  width: 312px;
  font-weight: 400;
}

.events__h{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  color: white;
}

.events{
  margin: 63px 0 0 0 ;
}

.events__items{
  margin-top: 23px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.events__item{
  width: 142px;
  height: 63px;
  padding: 24px 0;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  background-color: #D9D9D91A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.events__item__p{
  text-align: center;
  line-height: 12px;
  letter-spacing: 0.02px;
  color: white;
  font-size: 11px;
  font-weight: 400;
  max-width: 106px;
  margin-top: 5px;
}

.section-container{
  margin: auto;
}

.events__h{
  margin-top: 25px;
  font-size: 15px;
  color: white;
}

.slider__h{
  color: white;
  font-size: 15px;
  margin-left: 26px;
}

.section-container.slider__container{
  padding: 0;
  max-width: fit-content;
  width: fit-content;
  margin-top: 40px;
}

.slider__imgs{
  display: flex;
  position: relative;
  overflow-x: hidden;
  max-width: 360px;
  margin: auto;

}

#slider{
  position: relative;
  overflow: hidden;
}

.decor{
  position: absolute;
  background-image: url('./assets/icons/blur.svg');
  top: -620px;
  z-index: -1;
  left: -900px;
  background-position:  center;
  background-repeat: no-repeat;
}

.slider{
  margin-top: 16px;
  padding-bottom: 50px;
}

.slider__content{
  display: flex;
  position: relative;
}

.slider__left,
.slider__right{
  width: 30px;
  height: 30px;
  background-color: #2B2B2B77;
  border: 0;
  border-radius: 50%;
  position: absolute;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__left:hover,
.slider__right:hover{
  cursor: pointer;
  background-color: #00000088;
}


.slider__right{
  top: calc(50% - 15px); right: 24px; bottom: 0;
}

.slider__left{
  z-index: 1;
  top: calc(50% - 15px); left: 24px; bottom: 0;
}

.slider__left img{
  transform: scale(-1,1);
}

.slider__img{
  transition: 0.5s;
  width: 360px;
}

.slider__controller{
  display: flex;
  margin: 16px auto 0;
  justify-content: space-between;
  max-width: 44px;
}

.slider__controller__point{
  border-radius: 50%;
  width: 5px;
  height: 5px;
  border: 0;
}

.slider__controller__point.active{
  background-color: #9F5DF4;
}

.partners__name{
  margin-left: 26px;
}

#partners{
  margin-top: 55px;
}

.partner__items{
  margin: auto;
  display: flex;
  height: 92px;
  margin-top: 16px;
  width: 312px;
  justify-content: space-between;
}

.partner__item{
  width: 46px;
  height: 46px;
  background-color: #FFFFFF0D;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tbi{
  width: 40px;
}

.tarif__items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.tarif__item{
  background-color: white;
  width: 240px;
  padding: 20px 20px 40px;
  border-radius: 25px;
  margin-top: 25px;
}

.tarif__ul{
  margin: 8px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tarif__ul li{
  margin-top: 7px;
  text-align: center;
  font-size: 18px;
}

.section-container{
  width: fit-content;
  max-width: 400px;
}


.tarif__h2{
  display: block;
  font-size: 28px;
  font-family: Mazzard;
  font-weight: 600;
  text-align: center;
}

.tarif__h2.t1{
  color: #bc58ff;
}

.tarif__h2.t2{
  color: #871ece;
}

.tarif__h2.t3{
  color: #4b00ad;
}

.price{
  font-size: 24px;
  color: black;
  margin: 15px auto 10px;
  display: block;
  text-align: center;
}

.tarif__button{
  height: 50px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 15px;
  border: 0;
  font-size: 16px;
  flex-direction: row-reverse;
}

.tarif__button.t1{
  background-color: #bc58ff;
  color: white;
}

.tarif__button.t2{
  background-color: #871ece;
  color: white;
}


.tarif__button.t3{
  background-color: #4b00ad;
  color: white;
}

.tarif__button img{
  transform: rotate(-30deg);
}

.tarif__text{
  text-align: center;
  margin-top: 5px;
}

.tarif__item.t3 .tarif__ul{
  margin: 20px 0;
}

.tarif__item.t3 .tarif__ul li pre{
  font-weight: 700;
  font-size: 24px;
  font-family: Mazzard;
}

.form__button{
  padding: 20px;
  font-size: 20px;
}




footer{
  margin-top: 20px;
}

.footer .section-container{
  min-width: 328px;
  margin: 0 auto;
  padding: 10px;
}

.central-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer{
  display: flex;
  height: fit-content;
  border-bottom: 0;
}

.logo__footer__h{
  color: #7C7783;
  display: block;
  margin-left: 20px;
  font-size: 32px;
  font-weight: 800;
  width: 160px;
  font-family: Inter;
  text-transform: uppercase;
  height: fit-content;
}

.footer__name,
.footer__tel,
.footer__mail{
  color: #7C7783;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 18px;
}

.blogs{
  display: flex;
  justify-content: space-between;
  width: 56px;
  margin-top: 10px;
}

.footer__payment__items{
  width: 312px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.footer__text__items{
  margin-top: 32px;
}

.footer__text__item{
  color: #7C7783;
  font-size: 12px;
  line-height: 17px;
}

.rules__item{
  max-width: 160px;
}

.footer__rules{
  margin-top: 10px;
}

.year{
  color: #7C7783;
  font-size: 12px;
  margin-top: 10px;
  font-family: Inter;
}

.rules__item__a{
  color: #D2B5F89C;
  text-decoration: underline;
  font-size: 12px;
  line-height: 18px;
}

.form__h{
  font-size: 24px;
}

#form{
  margin-top: 40px;
}

.form__button{
  height: 50px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  border: 0;
  font-size: 20px;
  flex-direction: row-reverse;
  background-color: #4b00ad;
  color: white;
  cursor: pointer;
}

.text__form{
  text-decoration: underline;
  color: white;
  font-size: 13px;
  margin: 10px auto 0;
  text-align: center;
}



.form__h{
  font-size: 16px;
  text-transform: uppercase;
}

label{
  color: #7C7783;
  display: block;
  font-size: 12px;
  margin-top: 24px;
  font-family: Artega;
}

label:first-child{
  margin-top: 0;
}

input{
  margin-top: 8px;
  width: calc(100% - 20px);
  height: 24px;
  background-color: #FFFFFF1A;
  border:0;
  border-radius: 3px;
  padding: 4px 10px;
  color: white;
}

.contact__form{
  background-color: #17171B;
  padding: 16px 24px;
  border-radius: 10px;
  margin-top: 22px;
}

#form{
  margin-top: 75px;
  padding-bottom: 66px;
}

.contact__form{
  width: 320px;
  z-index: 2;
  left: 0;top: 100px; right: 0;
  margin: 60px auto 30px;
}

.contact__form h2{
  font-size: 26px;
  color: #D2B5F8;
}

.contact__form p{
  color: #7C7783;
  font-size: 13px;
  margin-top: 7px;
}

#FIO, #tg, #unit, #message{
  width: 288px;
}

.clown{
  position: relative;
  z-index: 10;
}

.form__text{
  max-width: 235px;
  color: #7C7783;
  font-size: 12px;
  line-height: 17px;
  margin-top: 6px;
}

#message,
input{
  outline: none;
  border: 0;
}

#message{
  margin-top: 8px;
  background-color: #FFFFFF1A;
  border:0;
  border-radius: 3px;
  padding: 4px 10px;
  resize: none;
  color: white;
}

.form__block{
  display: flex;
  max-width: 203px;
}

#personal__data,
#confidential__agreement{
  width: 0;
  height: 0;
  opacity: 0;
}

#personal__data ~ label::before,
#confidential__agreement ~ label::before{
  content: '';
  text-align: center;
  color: #D2B5F8;
  line-height: 1em;
  padding: 2px;
  min-width: 8px;
  max-width: 8px;
  min-height: 8px;
  max-height: 8px;
  float: left;
  margin-top: 7px;
  margin-right: 10px;
  border: 1px solid #D2B5F8;
  border-radius: 3px;
  display: inline-block;
}

.slider__controller__point{
  cursor: pointer;
}


.form__submit-button{
  width: 165px;
  height: 38px;
  background-color: #D2B5F8;
  color: black;
  border: 0;
  border-radius: 80px;
  font-size: 18px;
  display: block;
  margin: 25px auto 14px;
  font-family: Mazzard;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: 0.2s;
}

.form__submit-button:hover{
  cursor: pointer;
  background-color: #00000000;
  border: 2px solid #D2B5F8;
  color: #D2B5F8;
} */

#personal__data:checked ~ label::before,
#confidential__agreement:checked ~ label::before {
  content: '\2713';
  color: #D2B5F8;
}


.speaker__info{
  display: flex;
  margin-top: 8px;
}

.speaker__name{
  color: #773AC5;
  text-decoration: underline;
}

.speaker__theme{
  margin-left: 7px;
}

.ticket__adress{
  margin-top: 8px;
}

.ticket__button__t{
  background: linear-gradient(99.49deg, #9F5DF4 -28.36%, #773AC5 163.72%);
  width: 142px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  margin: 70px auto 0;
  color: white;
  font-size: 14px;
  display: block;
  border-radius: 10px;
}

@media screen and (max-width: 640px) {
  .start-screen__chairs{
    width: 100%;
    height: 243px;
    background-image: url('./assets/img/main-chairs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  #start-screen{
    min-height: 1130px;
  }

  .bkgr-blur{
    background-image: url('./assets/icons/blur.svg');
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: 0;
    top: -300px;right: -300px;
    color: red
  }

  .bkgr-draw{
    position: absolute;
    background-image: url('./assets/icons/blur.svg');
    background-position: 70% 70%;
    left: -680px;
    top: -70px;
  }


}

@media screen and (min-width: 420px) {
  .decor{
    display: none;
  }
}

.tempsection{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.tempsection h2{
  font-size: 36px;
  text-align: center;
  color:rgba(256,256,256)
}

.tempsection p{
  font-size: 16px;
  margin-top: 20px;
  color:rgba(256,256,256, 0.7);
  text-align: center;
}

.tempsection img{
  width: 80px;
  margin-top: 30px;
  background-color: white;
  border-radius: 24px;
}